<div class = "container">
<h1>Dice Game</h1>
<hr>
<h2>Welcome</h2>
<p>Here are the rules:
<ul>
	<li> Roll the dice to start the game.</li>
	<li> If your first roll is a 7 or 11, you win.</li>
	<li> If your first roll is a 2, 3 or 12, you lose.</li>
	<li> Anything else becomes your <i>goal</i>. Roll your goal again before rolling 7, and you win. Roll a 7 instead of your goal and you lose.</li>
<ul>
</p>
<p><button><%= link_to "Roll to start the game", action: "roll" %></button></p>
</div>